Flask
gunicorn
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
timm
numpy
opencv-python-headless
Pillow
fpdf
pandas
matplotlib
albumentations
tqdm
